# Plotting with Seaborn

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Univariate Analysis (for Numerical Variables)

In [2]:
df = pd.read_csv('data/random.csv')

print(df.shape)

df.head()

(1000, 2)

          x         y
0  0.645829  2.093071
1 -1.157771  1.786407
2 -0.813059 -0.712966
3  0.503495 -0.311660
4  1.766398  2.494042

In [4]:
# displot - hist, kde, ecdf

In [ ]:
# Strip plot

sns.stripplot(data = tips, x = 'day', y='total_bill')

In [ ]:
# Swarm Plot
# This function is similar to stripplot(), but the points are adjusted (only along the categorical axis) so that they don’t overlap. This gives a better representation of the distribution of values, but it does not scale well to large numbers of observations. This style of plot is sometimes called a “beeswarm”.

sns.swarmplot(data = tips, x='day', y='total_bill')

In [5]:
# boxplot

sns.boxplot(data = tips, x='day', y='total_bill')
######################################################

sns.boxplot(data=tips, x='day', y='total_bill', hue='time')
#######################################################

sns.boxplot(data=tips, x='day', y='total_bill', hue='weekend')
########################################################

sns.boxplot(x='sex', y='age', data=titanic)

In [11]:
# Count Plot
sns.countplot(x='class', data=titanic, palette='Greens_d')

In [10]:
# Bar Plot

sns.barplot(x='sex', y='age', data=titanic)
#####################################################

plt.figure(figsize=(12, 6))

plt.subplot(121)
sns.barplot(x='sex', y='age', data=titanic)
plt.title('Avg Age')

plt.subplot(122)
sns.barplot(x='sex', y='age', data=titanic, estimator = np.median)
plt.title('Median Age')

plt.show()
####################################################

sns.barplot(x='sex', y='survived', data=titanic)
####################################################

sns.barplot(x='sex', y='survived', hue='class', data=titanic)

In [6]:
# Scatter Plot

In [8]:
# Hexbin plot

In [9]:
# Pair Plot